# Diretórios do backend (Java/Spring Boot)
backend/target/
*.log
*.class
*.jar

# Diretórios do frontend (Node/React)
frontend/node_modules/
frontend/build/
frontend/.env

# IDEs e ferramentas
*.iml
.idea/
.vscode/
.DS_Store

# Arquivos de SO
Thumbs.db
